{% extends 'layout.html' %}

{% block body %}
	<h1>Dashboard <small> Welcome {{ session.username }}</small></h1>
	<a class="btn btn-success" href="/addarticle"> Add Article</a>
	<hr>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>User</th>
			<th>Date</th>
			<th></th>
			<th></th>
		</tr>
		{% for article in articles %}
		<tr>
			<td>{{ article.idarticle }}</td>
			<td>{{ article.name }}</td>
			<td>{{ article.description }}</td>
			<td>{{ article.createduser }}</td>
			<td>{{ article.createdtime }}</td>
			<td><a href="editarticle/{{ article.idarticle }}" class="btn btn-default pull-right">Edit</a></td>
			<td>
				<form action="{{ url_for('deletearticle', idarticle = article.idarticle) }}" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" name="Delete" class="btn btn-danger">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}